<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/hangmanstyle.css">
</head>

<body>
    <div class="hangman-scores">
        <h1>Your Statistics</h1>
        <h1><%= currentUser.username %></h1>
        <table>
            <tr>
                <th>Games Played</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Win Percentage</th>
            </tr>
            <% if (currentUser.hangmanRecords && currentUser.hangmanRecords.length > 0) { %>
                <% const totalGames = currentUser.hangmanRecords.length; %>
                <% const wins = currentUser.hangmanRecords.filter(record => record.isWin).length; %>
                <% const losses = totalGames - wins; %>
                <% const winPercentage = (wins / totalGames) * 100; %>
                <tr>
                    <td id="totalGames"><%= totalGames %></td>
                    <td id="wins"><%= wins %></td>
                    <td id="losses"><%= losses %></td>
                    <td id="winPercentage"><%= winPercentage.toFixed(2) %>%</td>
                </tr>
            <% } else { %>
                <tr>
                    <td id="totalGames">0</td>
                    <td id="wins">0</td>
                    <td id="losses">0</td>
                    <td id="winPercentage">0.00%</td>
                </tr>
            <% } %>
        </table>
    </div>
</body>

</html>