<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Highscores</title>
    <link rel="stylesheet" href="/styles/hangmanstyle.css">
</head>

<body>
    <div class="main-container">
        <%- include('navbar.ejs') %>
        
        <div class="hangman-scores">
            <h1>High Score List</h1>
            <table>
                <tr>
                    <th><button onclick="sortTable(0)">Username</button></th>
                    <th><button onclick="sortTable(1)">Games Played</button></th>
                    <th><button onclick="sortTable(2)">Wins</button></th>
                    <th><button onclick="sortTable(3)">Losses</button></th>
                    <th><button onclick="sortTable(4)">Win Percentage</button></th>
                </tr>
                <tbody id="highscores-table-body">
                    <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.username %></td>
                        <% if (user.hangmanRecords && user.hangmanRecords.length > 0) { %>
                        <% const totalGames = user.hangmanRecords.length; %>
                        <% const wins = user.hangmanRecords.filter(record => record.isWin).length; %>
                        <% const losses = totalGames - wins; %>
                        <% const winPercentage = (wins / totalGames) * 100; %>
                        <td><%= totalGames %></td>
                        <td><%= wins %></td>
                        <td><%= losses %></td>
                        <td><%= winPercentage.toFixed(2) %>%</td>
                        <% } else { %>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0.00%</td>
                        <% } %>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        let sortingDirection = 1;

        function sortTable(columnIndex) {
            const tableBody = document.getElementById('highscores-table-body');
            const rows = Array.from(tableBody.getElementsByTagName('tr'));

            const sortFunction = (a, b) => {
                const aValue = a.cells[columnIndex].textContent;
                const bValue = b.cells[columnIndex].textContent;
                return sortingDirection * aValue.localeCompare(bValue, undefined, { numeric: true });
            };
            rows.sort(sortFunction);
            tableBody.innerHTML = ''; //
            rows.forEach(row => {
                tableBody.appendChild(row);
            });
            sortingDirection *= -1;
        }
    </script>
</body>

</html>
